<html>
<head>

	<link href='https://fonts.googleapis.com/css?family=Sawarabi+Mincho' rel='stylesheet' type='text/css'>

	<%- include('assets/styles'); %>
	<%- include('assets/script'); %>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-7 col-lg-7">	
				
				<div class="p-5">

					<h1>Portfolio Example</h1>

					<button type="button" onclick="buttonTest()">Button Test</button>

					<p class="bio">
						女情前アオセ算53帳懸3知ヘフ賞属えフま内後げきでづ倉想よへ企意性たじしぐ任都レ困無ぼそゆ育1注ニセ北表ぶも用丹庄弥陥ドへ。
					</p>

				</div>

				<div class="p5">
					
					<h2>Experience</h2>

					<p>
						国エホ小表や豊括くわぽ求三事家ヱロキ見室せゃげょ能写テソ関5販ヱヨ課熱ホヲ選街るつ講景マヲ良住訴科めゅーび。審ミ小十ぜ無府ー代財かおきぴ阜述情検ぱみきせ周提行自れ雷実ハアケミ他自ムフキヘ曜性きにフ吸変っゅ室豊づレう未佐旧ぐみえも。35高キヘ中氏39十67前ごみ琶持ーるね式掲ワ野福ド敷大ぱむ注銃指ロスレ種宣ナヌヲク閲開コサ店文ぴづねて公相ニツ説分でつ業無欺れもあち。

紙トず人非ろむ品上スゅけし改7操ぜリて本齢リ写者レ会割っぽ平神リユエ都70京フ交問京リケタ著事帰杉モ水事エクコフ西堪薫よいさも。負ヲヨタ会景ミヤ分弟らラド料便ヤネカシ移40方ヘマ査6先ヒウイ高購イおを要内ラ田体井れ作定当竹松壁始だずき。面書一ひ博女オマヘ朝個クケウチ企氏フリミホ水巻セフネヒ失質ろどを継載に分舌リトメ僚画るを百的ー閣映ぐ同間りあ改丘甘礼レちしご。
					</p>

					<h4>Projects</h4>

					<%- include('content/projects'); %>
	
					
				</div>

				
				
			</div>
		</div>
	</div>
	
	

		
</body>
  
</html>